{% extends "base.html" %}

{% block title %}Add Application{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="mx-auto" style="max-width: 700px; background:#fff; padding: 30px; border-radius: 12px;">
    <h1 class="mb-4">Add New Application</h1>

    <a class="btn btn-secondary mb-3" href="{{ url_for('dashboard') }}">Back to Dashboard</a>

    <form method="POST" action="{{ url_for('add_application') }}">
      <label class="form-label">Company</label>
      <input name="company" type="text" class="form-control" required>

      <label class="form-label mt-3">Job Title</label>
      <input name="job_title" type="text" class="form-control" required>

      <label class="form-label mt-3">Location</label>
      <input name="location" type="text" class="form-control" required>

      <label class="form-label mt-3">Status</label>
      <select name="status" class="form-control">
        <option value="Applied">Applied</option>
        <option value="Interview">Interview</option>
        <option value="Offer">Offer</option>
        <option value="Rejected">Rejected</option>
      </select>

      <label class="form-label mt-3">Date</label>
      <input name="apply_date" type="date" class="form-control" required>

      <div class="mt-4">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
