{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard-page">
    <section class="welcome-bar">
        <div class ="welcome-content">
            <h2 class = "welcome-title"> Welcome Back</h2>
            <p class="welcome-text">
                Here's an overview of your job application activity
            </p>
        </div>
    </section>

    
    <main class="dashboard-container">

        <div class="dashboard-top">

                <!--Dashboard At A Glance section-->
                <section class="dashboard-glance">
                    <h2 class="h2 section-heading">At a Glance</h2>

                    <div class="card stat-card">
                        <div class="card-bar"></div>
                        <div class="card-body">
                            <span class="card-label">Applications Submitted</span>
                            <span class="card-value">{{ total }}</span>
                        </div>
                    </div>

                    <div class="card stat-card">
                        <div class="card-bar"></div>
                        <div class="card-body">
                            <span class="card-label">Submitted This Week</span>
                            <span class="card-value">{{ applied_this_week }}</span>
                        </div>
                    </div>

                    <div class="card stat-card">
                        <div class="card-bar"></div>
                        <div class="card-body">
                            <span class="card-label">Waiting for Response</span>
                            <span class="card-value">{{ waiting }}</span>
                        </div>
                    </div>

                    <div class="card stat-card">
                        <div class="card-bar"></div>

                        <div class="status-summary">
                            <div class="status-column">
                                <span class="card-label">Interview</span>
                                <span class="card-value">{{ interview }}</span>
                            </div>
                            
                            <div class="status-column">
                                <span class="card-label">Offer</span>
                                <span class="card-value">{{ offer }}</span>
                            </div>

                            <div class="status-column">
                                <span class="card-label">Rejected</span>
                                <span class="card-value">{{ rejected }}</span>
                            </div>
                        </div>
                    </div>
                </section>

                <!--Dashboard chart Section-->
                <section class="dashboard-chart">
                    <h2 class="h2 section-heading">Applications Over time</h2>
                    <div class="chart-card">

                        <canvas id="weeklyChart" height="220"></canvas>                    
                        
                    </div>
                                        
                </section>
                
        </div>
        
        <section class="reminder-bar">
            <h2 class="h3">Reminder /Action Items</h2>
            <!--<p class = "body-text"> {{ reminder_message }}</p>-->

            <ul class="body-text">
                {% for message in reminder_messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </section>

        <div class="dashboard-actions">
            <a href="{{ url_for('add_application') }}" class="btn btn-primary">Add New Application</a>
            <a href="{{ url_for('view_app') }}" class="btn btn-primary">View Applications</a>
        </div>

    </main>
</div>

{% endblock %}

{% block scripts %}
<script>
    const weeklyData = {{ weekly_data | tojson }};
    console.log(weeklyData);

    const labels = weeklyData.map(row => row.label);
    const data = weeklyData.map(row => row.count);

    const ctx = document.getElementById('weeklyChart').getContext('2d');

    new Chart(ctx, {
        type:'bar',
        data:{
            labels: labels,
            datasets: [{
                label: 'Applications per Week',
                data: data,
                backgroundColor: '#525AFF'
            
            }]
        },

        options: {
            responsive:true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false
                }
            }
        }
    });
</script>
{% endblock %}