{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div>
    <a href="{{ url_for('add_application') }}">Add New Application</a>

    <h2>Dashboard</h2>
    <div style="display:flex; gap:20px;">
        <div style="padding:15px; background:#3399ff; color:white; border-radius:10px; width:120px;">
            Total<br><b>{{ total }}</b>
        </div>
        <div style="padding:15px; background:orange; color:white; border-radius:10px; width:120px;">
            Interview<br><b>{{ interview }}</b>
        </div>
        <div style="padding:15px; background:green; color:white; border-radius:10px; width:120px;">
            Offer<br><b>{{ offer }}</b>
        </div>
        <div style="padding:15px; background:red; color:white; border-radius:10px; width:120px;">
            Rejected<br><b>{{ rejected }}</b>
        </div>
    </div>
</div>

{% endblock %}