{% extends "base.html" %}

{% block title %}Create Account{% endblock %}

{% block content %}


<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center" style="background-color:#4AB5B5;">
    <!--Outer wrapper (background color behind)-->
    <div class="main-content">
        <div class="form-wrapper">
            <section class="form-selection">
                
                <h1 class="form-title">Create Account</h1>

                <form method="POST" action="{{ url_for('register')}}">

                    <div class="form-group">
                        <label>Username:</label>
                        <input type="text" name="username" class ="form-control" required>
                    </div>

                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" name="email" class ="form-control" required>
                    </div>

                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" name="password" class ="form-control" required>
                    </div>

                    <div class="form-group">
                        <label>Re-enter Password:</label>
                        <input type="password" name="confirm_password" class ="form-control" required>
                    </div>

                    <div class="button-container">
                    <button type="submit" class="btn btn-primary create-btn">
                        Create Account
                    </button>
                    </div>
                </form>
          
            </section>
        </div>
    </div>
   
</div>  
{% endblock %}